 <nav class="navbar box-shadow app-header" [class.fixed-top]="settings.theme.navbarIsFixed" [class.logo-visible]="showInfoContent">
    <div class="d-flex flex-column w-100">
        <div class="d-flex justify-content-start align-items-center top-navbar">
            <div class="text-white font-weight-bold" style="margin-left: 150px; font-size: 11px; line-height: 11px">
              <div>{{member.lName}}, {{member.fName}} {{member.mName}} | <span class="text-warning font-weight-bold">IP ADDRESS: {{ipAddress}}</span> |
                <span *ngIf="member.authAdmin" class="badge badge-warning badge-pill m-1">ADMIN</span>
                <span *ngIf="member.authJudge" class="badge badge-success badge-pill m-1">JUSTICE</span>
                <span *ngIf="member.authJudgeClerk" class="badge badge-success badge-pill m-1">JUDICIAL ASSISTANT</span>
                <span *ngIf="member.authAttorney" class="badge badge-success badge-pill m-1">PROSECUTION</span>
                <span *ngIf="member.authPrivAttorney" class="badge badge-success badge-pill m-1">ATTORNEY</span>
                <span *ngIf="member.authClerk" class="badge badge-success badge-pill m-1">INTAKE/BDOCS</span>
                <span *ngIf="member.authRegistrar" class="badge badge-success badge-pill m-1">CRIMINAL REGISTRY</span>
                <span *ngIf="member.authRegistrarClerk" class="badge badge-success badge-pill m-1">CRIMINAL REGISTRY STAFF</span>
                <br>
                <!-- Show the dates to the logged in user -->
                <span class="text-warning">Member Since:</span> {{ member.memberSince | date: 'medium' }}
                <span class="text-warning">Last Login:</span> {{ member.lastLogin | date: 'medium' }}

              </div>
            </div>

            <div class="top-rigth-icons ml-auto">
              <span>
                <button class="btn btn-outline-light btn-sm position-relative header-button"
                        (click)="goToEmails()"
                        title="Go to Messages">
                  <i class="fa fa-envelope" aria-hidden="true"></i> <span>Messages</span>
                  <span *ngIf="unreadEmailCount > 0"
                        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                        style="top: -5px; right: -5px; font-size: 10px; background-color: #dc3545 !important;">
                    {{ unreadEmailCount > 99 ? '99+' : unreadEmailCount }}
                  </span>
                </button>
              </span>
              <span>
                <label class="btn btn-outline-light btn-sm header-button"
                       title="Toggle speech notifications">
                  <input type="checkbox"
                         [checked]="speechEnabled"
                         (change)="toggleSpeech()"
                         style="margin-right: 3px;">
                  <span>Speech</span>
                </label>
              </span>
              <span *ngIf="updateAvailable">
                <button class="btn btn-danger btn-sm text-white header-button"
                  (click)="reloadPage()"
                >
                  <i class="fa fa-refresh fa-spin" aria-hidden="true"></i> UPDATE AVAILABLE - INSTALL UPDATE
                </button>
              </span>
              <span class="hidden-xs-down btn btn-outline-light btn-sm header-button">
                <app-user-menu></app-user-menu>
              </span>
              <span>
                <button class="btn btn-outline-light btn-sm header-button"
                  (click)="logout()"
                >
                  <i class="fa fa-sign-out" aria-hidden="true"></i> LOGOUT
                </button>
              </span>
              <span>
                <button (click)="zoomOut()" class="btn btn-sm btn-outline-info text-white header-button">
                  <i class="fa fa-search-minus"></i>
                </button>
              </span>
              <span>
                <button (click)="zoomIn()" class="btn btn-sm btn-outline-info text-white header-button">
                  <i class="fa fa-search-plus"></i>
                </button>
              </span>
              </div>

        </div>

        <div class="horizontal-menu-outer" *ngIf="settings.theme.menu == 'horizontal'">

            <app-horizontal-menu *ngIf="showHorizontalMenu"  [menuItems]="menuItems"></app-horizontal-menu>
            <app-vertical-menu *ngIf="!showHorizontalMenu"  [menuItems]="menuItems"></app-vertical-menu>

        </div>
    </div>
</nav>
