<section class="container-fluid" style="margin-bottom: 20px;">
  <div class="row" style="background: var(--blue);">
    <div class="col-8 d-flex justify-content-start" style="font-weight: bold;text-align: center;color: rgb(255,255,255);font-size: 29px;"><span class="d-flex justify-content-start">MAGISTRATE BOOKING DOCUMENT</span></div>
    <div class="col-4 d-flex justify-content-end align-items-center" style="font-weight: bold;text-align: center;color: rgb(255,255,255);font-size: 29px;">
      <button *ngIf="notsaved" class="btn btn-success m-1" type="button" (click)="saveupdate()">SAVE CHANGES</button>
      <button class="btn btn-danger" type="button" (click)="exit()">CLOSE</button>
    </div>
  </div>
  <div class="row" style="margin-top: 7px">
    <div class="col-3">
      <fieldset class="d-flex flex-column justify-content-center align-items-center" style="overflow: hidden;border: 1px solid rgb(0,0,0);border-radius: 10px;padding:5px">
        <legend style=" width: auto;margin-left: 10px;border: 1px solid rgb(0,0,0);border-radius: 10px;font-size: 16px;font-weight: bold;padding: 5px;color: var(--blue);">Defendant Photo</legend>
        <img *ngIf="!activeBooking.photoURL" class="img-fluid" src="/assets/img/users/default-user.jpg"/>
        <img *ngIf="activeBooking.photoURL" class="img-fluid" [src]="activeBooking.photoURL" style="cursor:pointer;" (click)="enlargePhoto(activeBooking.photoURL, activeBooking.firstName, activeBooking.lastName)" />
        <div class="d-flex flex-row justify-content-center align-items-center">
          <div class="btn btn-sm btn-danger m-1" (click)="doTakePhoto()">TAKE PHOTO</div>
          <div class="btn btn-sm btn-warning m-1" (click)="doUploadPhoto()">UPLOAD PHOTO</div>
        </div>

      </fieldset>
    </div>
    <div class="col-9">
      <div class="row" style="margin-top: 7px;">
        <div class="col">
          <fieldset style="border: 1px solid rgb(0,0,0);border-radius: 10px;">
            <legend style="width: auto;margin-left: 10px;border: 1px solid rgb(0,0,0);border-radius: 10px;font-size: 16px;font-weight: bold;padding: 5px;color: var(--blue);">Defendant Information</legend>
            <div class="row m-1">
              <div class="col-4">
                <div>Magistrate:</div>
                <select [(ngModel)]="activeBooking.judgeID" (change)="doSelectJudge()" class="form-control" style="margin-bottom: 5px;" [style]='activeBooking.judgeID==null||activeBooking.judgeID=="0"?"background-color:yellow":"background-color:white"'>
                  <option value="0">No Magistrate Selected</option>
                  <option *ngFor="let j of magistrates" [value]="j.uid">{{j.name}}</option>
                </select>
              </div>
              <div class="col-4">
                <div>Magistrate's Court No.:</div>
                <input [(ngModel)]="activeBooking.courtroom" class="form-control" name="courtroom" style="margin-bottom: 5px;" placeholder="Courtroom"/>
              </div>
              <div class="col-4">
                <div>Hearing Date</div>
                <input [(ngModel)]="activeBooking.bookDate" type="date" name="bookDate" class="form-control" style="margin-bottom: 5px;"/>
              </div>
            </div>

            <form style="margin: 5px;">
              <div class="form-row" style="margin-bottom: 5px;">
                <div class="col">
                  <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text">Last</span></div><input id="lastName" name="lastName" [(ngModel)]="activeBooking.lastName" class="form-control" style="background-color: yellow" type="text" />
                    <div class="input-group-append"></div>
                  </div>
                </div>
                <div class="col">
                  <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text">First</span></div><input id="firstName" name="firstName" [(ngModel)]="activeBooking.firstName" class="form-control" style="background-color: yellow" type="text" />
                    <div class="input-group-append"></div>
                  </div>
                </div>
                <div class="col-2">
                  <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text">Middle</span></div><input id="middleName" name="middleName" [(ngModel)]="activeBooking.middleName" class="form-control" type="text" />
                    <div class="input-group-append"></div>
                  </div>
                </div>
                <div class="col">
                  <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text">DOB</span></div><input id="dob" name="dob" [(ngModel)]="activeBooking.dob" (focusout)="doNameCheck()" class="form-control" style="background-color: yellow" type="date" />
                    <div class="input-group-append"></div>
                  </div>
                </div>
              </div>
              <div class="text-center my-3">
                <span class="text-danger font-weight-bold">Once the Last Name, First Name and Date of Birth are entered, the system will check to see if this defendant already exists in the system and link the records.</span>
              </div>

              <div class="form-row" style="margin-bottom: 5px;">
                <div class="col">
                  <div class="input-group" style="margin-bottom: 5px;">
                    <div class="input-group-prepend"><span class="input-group-text">Street Address</span></div><input id="address1" name="address1" [(ngModel)]="activeBooking.address1" class="form-control" type="text" />
                    <div class="input-group-append"></div>
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text">Apt., Desc.</span></div><input id="address2" name="address2" [(ngModel)]="activeBooking.address2" class="form-control" type="text" />
                    <div class="input-group-append"></div>
                  </div>
                </div>
                <div class="col">
                  <div class="input-group" style="margin-bottom: 5px;">
                    <div class="input-group-prepend"><span class="input-group-text">Locality</span></div><input id="locality" name="locality" [(ngModel)]="activeBooking.locality" class="form-control" type="text" />
                    <div class="input-group-append"></div>
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text">Island</span></div><input id="island" name="island" [(ngModel)]="activeBooking.island" class="form-control" type="text" />
                    <div class="input-group-append"></div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col"><span>Comments</span><textarea [(ngModel)]="activeBooking.bookingComments" name="bookingComments" class="form-control" rows="10"></textarea></div>
              </div>
              <div class="form-row" style="margin-top: 9px;">
                <div *ngIf="!activeBooking.afisID" class="col d-flex flex-row justify-content-center align-items-center">
                  <button class="btn btn-primary" type="button" (click)="doLink()">LINK WITH AFIS</button>
                  <span style="color: var(--danger);font-weight: bold;font-size: 19px;margin-left: 7px;">RECORD NOT LINKED</span>
                </div>
                <div *ngIf="activeBooking.afisID" class="col d-flex flex-row justify-content-center align-items-center">
                  <span style="color: var(--danger);font-weight: bold;font-size: 19px;margin-left: 7px;">THIS RECORD HAS BEEN LINKED TO THE AFIS (AFIS ID: {{activeBooking.afisID}}) <span class="badge badge-pill badge-success" style="font-size: 10px">VERIFIED</span></span>
                </div>
              </div>
            </form>
          </fieldset>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 7px;">
    <div class="col">
      <fieldset style="border: 1px solid rgb(0,0,0);border-radius: 10px;padding-left: 0px;padding-right: 18px;padding-bottom: 15px;">
        <legend style="width: auto;margin-left: 10px;border: 1px solid rgb(0,0,0);border-radius: 10px;font-size: 16px;font-weight: bold;padding: 5px;color: var(--blue);">Bond Conditions</legend>
        <div class="row">
          <div class="col" style="margin-left: 18px;margin-bottom: 0px;margin-right: 0px;color: var(--white);background: var(--blue);font-weight: bold;"><span>Particulars of Surety</span></div>
        </div>
        <div class="row">
          <div class="col-4 d-flex justify-content-center align-items-center" style="padding-left: 35px;">
            <div class="input-group">
              <div class="input-group-prepend"><span class="input-group-text">Amount of Bail</span></div><input [(ngModel)]="activeBooking.bailAmount" class="form-control" type="text" />
              <div class="input-group-append"></div>
            </div>
          </div>
          <div class="col"><span style="font-weight: bold;">Surety Comments or Instructions</span><textarea [(ngModel)]="activeBooking.suretyReq"  class="form-control" style="width: 100%;"></textarea></div>
        </div>
        <div class="row">
          <div class="col" style="margin-left: 18px;margin-bottom: 0px;margin-right: 0px;color: var(--white);background: var(--blue);font-weight: bold;"><span>Conditions</span></div>
        </div>
        <div class="row">
          <div class="col" style="padding-left: 33px;"><span style="margin-left: 12px;font-weight: bold;">Conditions or Special Instructions</span><textarea [(ngModel)]="activeBooking.additionalConditions" class="form-control" style="width: 100%;"></textarea></div>
        </div>
        <div class="row" style="margin-top: 10px;">
          <div class="col" style="padding-left: 34px;">
            <div class="form-check"><input [(ngModel)]="activeBooking.surrenderPassportChecked" id="formCheck-1" class="form-check-input" type="checkbox" style="transform: scale(1.50);" /><label class="form-check-label" for="formCheck-1" style="font-weight: bold;">Defendant must surrender passport</label></div>
          </div>
          <div class="col">
            <div class="form-check"><input [(ngModel)]="activeBooking.elecMonitorChecked" id="formCheck-2" class="form-check-input" type="checkbox" style="transform: scale(1.50);" /><label class="form-check-label" for="formCheck-2" style="font-weight: bold;">Defendant must be placed on Electronic Monitoring</label></div>
          </div>
        </div>
        <div class="row" style="margin-top: 9px;">
          <div class="col" style="margin-left: 18px;margin-bottom: 0px;margin-right: 0px;color: var(--white);background: var(--blue);font-weight: bold;"><span>Check-in Days</span></div>
        </div>
        <div class="row">
          <div class="col-12"><span style="margin-left: 17px;font-weight: bold;">Defendant must check-in to a Kiosk on the following day(s):</span></div>
          <div class="col-12 d-flex flex-row justify-content-center align-items-center">
            <div class="form-check" style="margin-left: 20px;width: auto;"><input [(ngModel)]="activeBooking.sundayChecked" id="formCheck-3" class="form-check-input" type="checkbox" style="transform: scale(1.50);" /><label class="form-check-label" for="formCheck-3">Sunday</label></div>
            <div class="form-check" style="margin-left: 20px;width: auto;"><input [(ngModel)]="activeBooking.mondayChecked" id="formCheck-9" class="form-check-input" type="checkbox" style="transform: scale(1.50);" /><label class="form-check-label" for="formCheck-9">Monday</label></div>
            <div class="form-check" style="margin-left: 20px;width: auto;"><input [(ngModel)]="activeBooking.tuesdayChecked" id="formCheck-8" class="form-check-input" type="checkbox" style="transform: scale(1.50);" /><label class="form-check-label" for="formCheck-8">Tuesday</label></div>
            <div class="form-check" style="margin-left: 20px;width: auto;"><input [(ngModel)]="activeBooking.wednesdayChecked" id="formCheck-7" class="form-check-input" type="checkbox" style="transform: scale(1.50);" /><label class="form-check-label" for="formCheck-7">Wednesday</label></div>
            <div class="form-check" style="margin-left: 20px;width: auto;"><input [(ngModel)]="activeBooking.thursdayChecked" id="formCheck-6" class="form-check-input" type="checkbox" style="transform: scale(1.50);" /><label class="form-check-label" for="formCheck-6">Thursday</label></div>
            <div class="form-check" style="margin-left: 20px;width: auto;"><input [(ngModel)]="activeBooking.fridayChecked" id="formCheck-5" class="form-check-input" type="checkbox" style="transform: scale(1.50);" /><label class="form-check-label" for="formCheck-5">Friday</label></div>
            <div class="form-check" style="margin-left: 20px;width: auto;"><input [(ngModel)]="activeBooking.saturdayChecked" id="formCheck-4" class="form-check-input" type="checkbox" style="transform: scale(1.50);" /><label class="form-check-label" for="formCheck-4">Saturday</label></div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="col d-flex flex-column justify-content-center align-items-center mt-3 mb-3">
    <div *ngIf="!activeBooking.id" class="font-weight-bold text-danger text-center h4">BOOKING MUST BE CREATED BEFORE CHARGES OR DOCUMENTS CAN BE ADDED!</div>
    <div *ngIf="!activeBooking.id" class="font-weight-bold text-danger text-center">PLEASE COMPLETE ALL FIELDS ABOVE AND THEN CREATE THE NEW BOOKING</div>
    <div class="d-flex flex-row justify-content-center align-items-center">
      <button *ngIf="notsaved && activeBooking.id" class="btn btn-success btn-sm m-1" type="button" (click)="saveupdate()">SAVE/UPDATE THIS BOOKING</button>
      <button *ngIf="!activeBooking.id" class="btn btn-danger btn-LG m-1" type="button" (click)="saveupdate()">CREATE NEW BOOKING</button>
    </div>
    <div *ngIf="!activeBooking.id" class="d-flex justify-content-center align-items-center font-weight-bold" style="background-color: red; width: 100%; height: 30px; color: white">DO NOT GO BELOW THIS LINE WITHOUT CREATING THE NEW BOOKING FIRST! ITEMS WILL NOT BE SAVED</div>
  </div>
  <div class="row" style="margin-top: 7px;">
    <div class="col">
      <fieldset style="border: 1px solid rgb(0,0,0);border-radius: 10px;">
        <legend style="width: auto;margin-left: 10px;border: 1px solid rgb(0,0,0);border-radius: 10px;font-size: 16px;font-weight: bold;padding: 5px;color: var(--blue);">Charges</legend>
        <div class="row mb-2">
          <div class="col d-flex justify-content-center align-items-center" style="padding-left: 35px;">
            <div class="input-group d-flex flex-column">
              <div class="d-flex flex-row mb-1">
                <div class="input-group-prepend"><span class="input-group-text">Case No.</span></div>
                <input [(ngModel)]="activeBooking.agencyCase" class="form-control" type="text"/>
              </div>
              <div class="d-flex flex-row">
                <div class="input-group-prepend"><span class="input-group-text">Charge</span></div>
                <input [(ngModel)]="currentCharge" class="form-control" type="text" list="crimeDataList" autocomplete="off" />
                <div class="input-group-append"><button class="btn btn-primary" type="button" (click)="doAddCharges()">ADD</button></div>
              </div>

            </div>
          </div>
          <div class="col"><span>Charges on this booking sheet</span>
            <ol id="chargelist">
              <li *ngFor="let c of activeBooking.charges">{{c.countCharge}}<span class="badge badge-pill badge-danger m-1" style="font-size: 10px; cursor: pointer" (click)="removeChage(c.countCharge)"><i class="fa fa-trash"></i></span></li>

            </ol>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="row" style="margin-top: 7px;">
    <div class="col">
      <fieldset style="border: 1px solid rgb(0,0,0);border-radius: 10px;">
        <legend style="width: auto;margin-left: 10px;border: 1px solid rgb(0,0,0);border-radius: 10px;font-size: 16px;font-weight: bold;padding: 5px;color: var(--blue);">Documents</legend>
        <div class="row">
          <div class="col d-flex flex-column justify-content-center align-items-center" style="padding-left: 35px;">
            <div>
              <button class="btn btn-info" type="button" style="margin: 5px;" (click)="doAttchSuretor()">ATTACH SURETOR</button>
              <button class="btn btn-success" type="button" style="margin: 5px;" (click)="doDocumentUpload()">ADD DOCUMENT</button>
              <button class="btn btn-warning" type="button" style="margin: 5px;" (click)="submitMagistrate()">SUBMIT FOR APPROVAL</button>
              <button *ngIf="currentMember.authMagistrate || currentMember.authAdmin" class="btn btn-primary" type="button" style="margin: 5px;" (click)="approveSurtor()">APPROVE/DENY SURETOR</button>
            </div>
            <div class="small text-muted">
              As a Magistrate, you may Approve or Deny the Suretor using the blue button above.
            </div>
          </div>
          <div class="col"><span><b>Documents and Status Entries</b></span>
            <ul id="documents">
              <li *ngFor="let doc of bookingEvents">
                <span *ngIf="doc.type=='newBooking'" class="text-primary">{{doc.title}} on {{convertUnixDate(doc.unixDate)}}</span>
                <div *ngIf="doc.type== 'newBooking' " class="small text-muted">{{doc.description}}</div>
                <span *ngIf="doc.type=='removeSuretor'" class="text-primary">{{doc.title}} on {{convertUnixDate(doc.unixDate)}}</span>
                <div *ngIf="doc.type== 'removeSuretor' " class="small text-muted">{{doc.description}}</div>
                <span *ngIf="doc.type=='attachSuretor'" class="text-primary">{{doc.title}} on {{convertUnixDate(doc.unixDate)}} <i *ngIf="currentMember.authAdmin" class="fa fa-trash" style="cursor: pointer" (click)="removeSuretor(doc.id)"></i></span>
                <div *ngIf="doc.type== 'attachSuretor' " class="small text-muted">{{doc.description}}</div>
                <span *ngIf="doc.type=='submitMagistrate'" class="text-primary">{{doc.title}} on {{convertUnixDate(doc.unixDate)}}</span>
                <div *ngIf="doc.type== 'submitMagistrate' " class="small text-muted">{{doc.description}}</div>
                <span *ngIf="doc.type=='approveSurtor' && doc.approved" class="text-success font-weight-bold">{{doc.title}} on {{convertUnixDate(doc.unixDate)}}</span>
                <span *ngIf="doc.type=='approveSurtor' && doc.denied" class="text-danger font-weight-bold">{{doc.title}} on {{convertUnixDate(doc.unixDate)}}</span>
                <div *ngIf="doc.type== 'approveSurtor' " class="small text-muted">{{doc.description}}</div>
                <span *ngIf="doc.type=='pdf'"><i class="fa fa-file-pdf-o text-danger font-weight-bold"></i> {{doc.title}} on {{convertUnixDate(doc.unixDate)}}</span>
                <span *ngIf="doc.type=='pdf'" class="badge badge-pill badge-success m-1" style="cursor: pointer" (click)="openPDF(doc.link)">VIEW</span>
                <span *ngIf="doc.type=='pdf' && currentMember.authAdmin" class="badge badge-pill badge-danger m-1" style="cursor: pointer" (click)="deletePDF(doc.link, doc.id)"><i class="fa fa-trash"></i></span></li>
            </ul>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="row" style="margin-top: 7px;">
    <div class="col">
      <fieldset style="border: 1px solid rgb(0,0,0);border-radius: 10px;">
        <legend style="width: auto;margin-left: 10px;border: 1px solid rgb(0,0,0);border-radius: 10px;font-size: 16px;font-weight: bold;padding: 5px;color: var(--blue);">HISTORY</legend>
        <div class="row">
          <div class="col text-center" style="font-weight: bold;margin-top: 9px;margin-bottom: 11px;"><span style="color: var(--red);">Once this defendant is linked, all history from the Magistrate Court and Supreme Court will appear here in real time</span></div>
        </div>
      </fieldset>
    </div>
  </div>
</section>
<datalist id="crimeDataList">
  <option *ngFor="let i of crimeCodes">{{i.value}}</option>
</datalist>
