.p-timeline-event-opposite {
  flex: auto!important;
  background-color: red!important;
}
.p-timeline-event-content {
  background-color: blue;
  width: 100%;
}
.input-group {
  border: 1px solid black;
}
input.input-group{
  color: black!important;
}

.redBack {
  background-color: lightsalmon!important;
  color: black!important;
  font-weight: bold!important;
}

.blueBack {
  background-color: lightblue!important;
  color: black!important;
  font-weight: bold!important;
}

.orangeBack {
  background-color: lightgoldenrodyellow!important;
  color: black!important;
  font-weight: bold!important;
}

.greenBack {
  background-color: lightgreen!important;
  color: black!important;
  font-weight: bold!important;
}

input-group-text {
  font-weight: bold!important;
}
