<section *ngIf="searchPage">
  <div style="font-weight: bold;text-align: center;font-size: 19px;background: var(--blue);color: var(--warning);"><span style="font-size: 24px;">PRIVATE ATTORNEY BAIL MANAGEMENT PORTAL</span></div>
  <div style="font-weight: bold;text-align: center;font-size: 13px;"><span>BAHAMAS BAIL MANAGEMENT SYSTEM</span></div>
  <div class="row">
    <div class="col">
      <fieldset style="border-width: 1px;border-style: solid;border-radius: 10px;padding: 4px;min-height: 400px;">
        <legend style="font-size: 12px;width: auto;margin-left: 4px;border-width: 1px;border-style: solid;border-radius: 10px;padding: 4px;font-weight: bold;">Add Offender</legend>
        <div style="font-size: 10px;line-height: 11px;font-weight: bold;color: var(--red);"><span>To become the Attorney of Record for Bail proceedings, start by locating the Offender in the BBMS system by entering a Last Name and Date of Birth and hitting Go!</span></div>
        <div style="font-weight: bold;font-size: 13px;"><span>Offender Search</span></div>
        <div class="row" style="margin-top: 8px;">
          <div class="col">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Last Name</span>
              </div>
              <input [(ngModel)]="lastName" class="form-control" type="text" />
              <div class="input-group-append"></div>
            </div>
          </div>
          <div class="col">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">DOB</span>
              </div>
              <input [(ngModel)]="dob" class="form-control" type="date" />
              <div class="input-group-append"><button class="btn btn-success btn-small" type="button" (click)="searchOffenders()">Go!</button></div>
            </div>
          </div>
        </div>
        <div style="margin-top: 6px;font-weight: bold;font-size: 12px;"><span>Search Results:</span></div>
        <div *ngFor="let offender of searchData" class="row m-1 pb-2 border-bottom border-dark">
          <div class="col-3" style="font-size: 12px">
            {{offender.lName}}, {{offender.fName}} {{offender.mName}}
            <div *ngIf="offender.attorneyID" style="font-size: 10px;color: var(--red);">Current Attorney: {{offender.attorneyName}}</div>
          </div>
          <div class="col-7" style="font-size: 12px; line-height: 12px">
            {{offender.addLine1}} {{offender.addLine2}}<br>{{offender.city}} {{offender.state}}
          </div>
          <div class="col-2 text-right">
            <div class="btn btn-sm btn-warning" (click)="doSelectAdd(offender)">SELECT</div>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="col">
      <fieldset style="border-width: 1px;border-style: solid;border-radius: 10px;padding: 4px;min-height: 400px;">
        <legend style="font-size: 12px;width: auto;margin-left: 4px;border-width: 1px;border-style: solid;border-radius: 10px;padding: 4px;font-weight: bold;">Current Clients</legend>
        <div style="font-size: 10px;line-height: 11px;font-weight: bold;color: var(--red);"><span>The following list of Offenders represent all Offenders that you are currently assigned as the Attorney of Record with the Courts.</span></div>
        <div style="font-weight: bold;font-size: 13px;"><span>Offenders:</span></div>
        <div>
          <div class="row m-0 border border-dark">
            <div class="col-8 d-flex align-items-center"><span style="font-size: 12px;font-weight: bold;color: var(--red);">Last Name, Frist Name Middle</span></div>
            <div class="col-2 d-flex justify-content-center align-items-center"><span style="line-height: 12px;font-size: 12px;font-weight: bold;color: var(--red);">DOB</span></div>
            <div class="col-2 d-flex justify-content-end align-items-center"><span style="font-size: 12px;font-weight: bold;color: var(--red);">MANAGE</span></div>
          </div>
          <div *ngFor="let client of activeClients" class="row m-1 pb-1 border-bottom border-dark">
            <div class="col-8 d-flex align-items-center"><span style="font-size: 12px;font-weight: bold;">{{client.lName}}, {{client.fName}} {{client.mName}}</span></div>
            <div class="col-2 d-flex align-items-center justify-content-center"><span style="font-size: 12px;">{{client.dob}}</span></div>
            <div class="col-2 d-flex justify-content-end align-items-center"><button class="btn btn-primary btn-sm" type="button" style="font-size: 12px;" (click)="doSelectClient(client)">SELECT</button></div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</section>
<section *ngIf="adminPage">
  <app-attorney-client-admin [client]="selectedClient" (close)="closeAdmin()"></app-attorney-client-admin>
</section>