<section>
  <div class="row">
    <div class="col">
      <fieldset class="container-fluid" style="border: 1px solid gray; border-radius: 8px">
        <legend style="margin-left: 0px;font-weight: bold; border: 1px solid gray; border-radius: 8px; width: auto; padding:4px">Add Client</legend>
        <div class="text-danger font-weight-bold p-2 h5">You must have the Clients Last Name and Date of Birth to add them.</div>
        <div class="input-group">
          <div class="input-group-prepend"><span class="input-group-text" style="width: 116px;">Last Name</span></div>
          <input [(ngModel)]="lastName" class="form-control" type="text" />
        </div>
        <div class="input-group" style="margin-bottom: 10px;">
          <div class="input-group-prepend"><span class="input-group-text" style="width: 116px;">Date of Birth</span></div>
          <input [(ngModel)]="dob" class="form-control" type="date" />
          <div class="input-group-append"><button class="btn btn-success" type="button" (click)="getDefendant()">Search!</button></div>
        </div>
        <div class="small text-muted text-danger font-weight-bold p-2 text-center">When adding a Client, the courts will be noticed that you are representing this client in all bail matters.</div>
      </fieldset>
      <fieldset class="container-fluid" style="margin-top: 5px;padding-bottom: 10px;border: 1px solid gray; border-radius: 8px">
        <legend style="margin-left: 0px;font-weight: bold; border: 1px solid gray; border-radius: 8px; width: auto; padding:4px">Current Clients</legend>
        <div class="row" style="margin-right: 0px;margin-left: 0px;border: 3px solid rgb(179,179,179);border-right-style: solid;border-left-color: rgb(179, 179, 179);background: #eaeaea;">
          <div class="col-3 text-center" style="font-weight: bold;"><span>Image</span></div>
          <div class="col" style="border-right: 1px solid rgb(179,179,179);border-left: 1px solid rgb(179,179,179);"><span style="font-weight: bold;">Name/DOB</span></div>
          <div class="col-2" style="text-align: center;"><span style="font-weight: bold;">Controls</span></div>
        </div>
        <div class="row" style="border: 1px solid rgb(179,179,179);border-right-style: solid;border-left-color: rgb(179, 179, 179);margin-right: 0px;margin-left: 0px;">
          <div class="col-3 text-center" style="font-weight: bold;"><img class="img-fluid" src="/assets/img/users/user.jpg" style="border-style: solid;border-color: var(--red);margin: 5px;" /></div>
          <div class="col d-xl-flex justify-content-xl-center align-items-xl-center" style="border-right: 1px solid rgb(179,179,179);border-left: 1px solid rgb(179,179,179);"><span style="font-weight: bold;">Public, John</span></div>
          <div class="col-2 d-xl-flex justify-content-xl-center align-items-xl-center" style="text-align: center;"><button class="btn btn-warning btn-sm" type="button">Select</button></div>
        </div>
      </fieldset>
    </div>
    <div class="col">
      <fieldset class="container-fluid" style="margin-top: 5px;padding-bottom: 10px;border: 1px solid gray; border-radius: 8px">
        <legend style="margin-left: 0px;font-weight: bold; border: 1px solid gray; border-radius: 8px; width: auto; padding:4px">Recent Activity and Alerts</legend>
        <ul style="margin: 10px; margin-left: 20px">
          <li>Application Submitted for Public, John Q - Payment Successful</li>
          <li>Court Date Updated for Public, John Q - 2023-12-29 10:00 AM</li>
          <li>Judge Assigned for Public, John Q. - Justice Bernard Turner </li>
          <li>Other Info, Etc</li>
        </ul>
      </fieldset>
      <fieldset class="container-fluid" style="margin-top: 5px;padding-bottom: 10px;border: 1px solid gray; border-radius: 8px">
        <legend style="margin-left: 0px;font-weight: bold; border: 1px solid gray; border-radius: 8px; width: auto; padding:4px">Court Calendar</legend>
        <div class="row" style="border: 1px solid rgb(179,179,179);border-right-style: solid;border-left-color: rgb(179, 179, 179);margin-right: 0px;margin-left: 0px;">
          <div class="col-3 text-center" style="font-weight: bold;"><span>Image</span></div>
          <div class="col" style="border-right: 1px solid rgb(179,179,179);border-left: 1px solid rgb(179,179,179);"><span style="font-weight: bold;">Name/DOB</span></div>
          <div class="col-4" style="text-align: center;"><span style="font-weight: bold;">Date/Time</span></div>
        </div>
        <div class="row" style="border: 1px solid rgb(179,179,179);border-right-style: solid;border-left-color: rgb(179, 179, 179);margin-right: 0px;margin-left: 0px;">
          <div class="col-3 text-center" style="font-weight: bold;"><img class="img-fluid" src="/assets/img/users/user.jpg" style="border-style: solid;border-color: var(--red);margin: 5px;" /></div>
          <div class="col d-xl-flex justify-content-xl-center align-items-xl-center" style="border-right: 1px solid rgb(179,179,179);border-left: 1px solid rgb(179,179,179);"><span style="font-weight: bold;">Public, John</span></div>
          <div class="col-4 d-xl-flex justify-content-xl-center align-items-xl-center" style="text-align: center;"><span style="font-size: 13px;font-weight: bold;">2023-12-29 10:00 AM</span></div>
        </div>
      </fieldset>
    </div>
  </div>
</section>
