<section>
  <div class="row" style="background: blue;">
    <div class="col-7" style="text-align: right;"><span style="color: white;font-weight: bold;font-size: 25px;">BOOKING VIEWER</span>
    </div>
    <div class="col d-xl-flex justify-content-xl-end align-items-xl-center"
         style="text-align: right;padding-right: 20px;">
      <button class="btn btn-danger btn-sm" type="button" (click)="doExit()">Exit</button>
    </div>
  </div>
  <div class="row" style="margin-top: 4px;margin-right: 0px;margin-left: 0px;">
    <div class="col"
         style="margin: 3px;border-width: 1px;border-style: solid;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;">
      <div class="row" style="background: var(--cyan);">
        <div class="col" style="text-align: center;font-weight: bold;color: var(--light);"><span>BOOKING DETAILS</span>
        </div>
      </div>
      <div class="row">
        <div class="col-5" style="text-align: right;font-weight: bold;"><span>General Registration No.</span></div>
        <div class="col"><span>{{booking.genRegisterNumber}}</span></div>
      </div>
      <div class="row">
        <div class="col-5" style="text-align: right;font-weight: bold;"><span>Custody Level</span></div>
        <div class="col"><span>{{booking.classification ? booking.classification : 'No Level Specified'}}</span></div>
      </div>
      <div class="row">
        <div class="col-5" style="text-align: right;font-weight: bold;"><span>Housing</span></div>
        <div class="col"><span>{{booking.housingLoc ? booking.housingLoc : 'No Housing Specified'}}</span></div>
      </div>
      <div class="row">
        <div class="col-5" style="text-align: right;font-weight: bold;"><span>Alerts</span></div>
        <div class="col">
          <span *ngIf="booking.drugRelated=='Yes'" class="badge badge-warning" style="margin: 1px;">Drugs</span>
          <span *ngIf="booking.alcoholRelated=='Yes'" class="badge badge-warning" style="margin: 1px;">Alcohol</span>
          <span *ngIf="booking.sexCrime=='Yes'" class="badge badge-danger" style="margin: 1px;">Sex Crime</span>
          <span *ngIf="booking.childCrime=='Yes'" class="badge badge-danger" style="margin: 1px;">Child Victim</span>
          <span *ngIf="booking.violenceCrime=='Yes'" class="badge badge-info" style="margin: 1px;">Violent</span>
          <span *ngIf="booking.sexOffender=='Yes'" class="badge badge-danger" style="margin: 1px;">Sex Offender</span>
        </div>
      </div>
      <div class="row">
        <div class="col-5" style="text-align: right;font-weight: bold;"><span>Booking Status</span></div>
        <div class="col">
          <span>{{booking.bookingStatus}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-5" style="text-align: right;font-weight: bold;"><span>Hearing Date</span></div>
        <div class="col"><span>{{booking.hearingAssignDate ? booking.hearingAssignDate : 'No Hearing Assigned'}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-5" style="text-align: right;font-weight: bold;"><span>Assigned Justice</span></div>
        <div class="col">
          <span>{{booking.judge ? booking.judge + ' on' : 'No Judge Assigned'}} {{booking.judgeAssignedDate}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-5" style="text-align: right;font-weight: bold;"><span>Assigned Attorney</span></div>
        <div class="col">
          <span>{{booking.attorneyAssigned ? booking.attorneyAssigned + ' on' : 'No Attorney Assigned'}} {{booking.attorneyAssignedDate}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-5" style="text-align: right;font-weight: bold;"><span>Bond Status</span></div>
        <div class="col">
          <span>{{booking.bailStatus == 'granted' ? 'Bail has been GRANTED' : 'Bail has NOT been GRANTED'}}</span></div>
      </div>
      <div class="row">
        <div class="col-5" style="text-align: right;font-weight: bold;"><span>Custody Status</span></div>
        <div class="col">
          <span *ngIf="!booking.bookingStatus">No Custody Status Provided</span>
          <span *ngIf="booking.bookingStatus=='Open'">In Custody</span>
          <span *ngIf="booking.bookingStatus=='Closed'">Booking Closed</span>
          <span *ngIf="booking.bookingStatus=='Bond'">Released on Bond</span>
        </div>
      </div>
      <div class="row">
        <div class="col-5" style="text-align: right;font-weight: bold;"><span>Comments</span></div>
        <div class="col"><textarea style="width: 100%;" rows="5">{{booking.comments}}</textarea></div>
      </div>
    </div>
    <div class="col" style="margin-top: 3px;">
      <div class="row" style="background: var(--teal);">
        <div class="col" style="font-weight: bold;text-align: center;color: var(--light);"><span>BOOKING EVENTS</span>
        </div>
      </div>
      <div class="row">
        <div class="col" style="text-align: center;">
          <div style="text-align: center;font-weight: bold;color: red; font-size: 18px;">
            <span>Booking Control Panel</span>
          </div>
          <button class="btn btn-outline-info btn-sm" type="button" (click)="doBailApplicaion()"><i class="fa fa-inbox"
                                                                                                    style="color: rgb(255,0,0);font-size: 16px;"></i> Submit
            Bail App
          </button>
          <button class="btn btn-outline-secondary btn-sm" type="button" style="margin: 5px;" (click)="doRemand()"><i
            class="fa fa-file-pdf-o" style="color: rgb(255,0,0);font-weight: bold;font-size: 17px;"></i> Submit Remand
            Warant
          </button>
          <button class="btn btn-outline-secondary btn-sm" type="button" style="margin: 5px;" (click)="doPDFDocument()">
            <i class="fa fa-file-pdf-o" style="color: rgb(255,0,0);font-weight: bold;font-size: 17px;"></i> Submit PDF
            Document
          </button>
          <button class="btn btn-outline-primary btn-sm" type="button" (click)="doNote()"><i class="fa fa-sticky-note"
                                                                                             style="color: rgb(255,0,0);font-size: 16px;"></i> Submit
            Note
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col" style="text-align: center;">
          <div style="text-align: center;font-weight: bold;color: red; font-size: 18px;">
            <span>Magistrate Control Panel</span>
          </div>
          <div class="btn btn-success btn-sm m-1" (click)="doDocumentUpload()"><i class="fa fa-file-pdf-o mr-1" style="color: rgb(255,0,0);font-weight: bold;font-size: 17px;"></i>Submit Support Document</div>
          <div class="btn btn-warning btn-sm m-1"><i class="fa fa-file-pdf-o mr-1" style="color: rgb(255,0,0);font-weight: bold;font-size: 17px;"></i>Submit Bond for Approval</div>
          <div class="btn btn-danger btn-sm m-1"><i class="fa fa-file-pdf-o mr-1" style="color: rgb(255,0,0);font-weight: bold;font-size: 17px;"></i>Submit Signed Bond for Release</div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <span class="text-danger" style="font-weight: bold; font-size: 18px">Case Documents, Notes, Events and Hearings</span><br>
          <span class="font-weight-bold text-danger small text-muted">Hover over Text for Description</span>
          <hr>
          <ul>
            <li *ngFor="let i of bookingEvents">
              <!-- pdf -->
              <div *ngIf="i.type=='pdf'" style="margin-top: 2px!important; margin-bottom: 2px!important;"
                   class="my-1 p-1 bg-white rounded rounded-lg" data-toggle="tooltip" data-placement="top"
                   title="{{i.description}}">
                <i class="fa fa-file-pdf-o text-danger font-weight-bold mr-1"></i> <span
                class="font-weight-bold mr-1">{{i.date}} {{i.title}}</span> <a class="font-weight-bold"
                                                                               href="{{i.link}}" target="_blank">VIEW
                DOCUMENT</a>
              </div>
              <!-- Bail Application -->
              <div *ngIf="i.type=='bailApp'" style="margin-top: 2px!important; margin-bottom: 2px!important;"
                   class="my-1 p-1 bg-success text-white rounded rounded-lg" data-toggle="tooltip" data-placement="top"
                   title="{{i.description}}">
                <i class="fa fa-file-pdf-o text-danger font-weight-bold mr-1"></i> <span
                class="font-weight-bold mr-1">{{i.date}} {{i.title}}</span>
                <a class="font-weight-bold" style="cursor: pointer" (click)="goToLink(i.link)"> VIEW APPLICATION</a>
              </div>
              <!-- Note -->
              <div *ngIf="i.type=='note'" style="margin-top: 2px!important; margin-bottom: 2px!important; cursor: pointer!important" (click)="doViewNote(i.description)"
                   class="my-1 p-1 bg-white rounded rounded-lg" data-toggle="tooltip" data-placement="top"
                   title="{{i.description}}">
                <i class="fa fa-sticky-note-o text-success font-weight-bold mr-1"></i> <span
                class="font-weight-bold">{{i.date}} {{i.title}}</span>
                <span class="font-weight-bold ml-3 text-primary">VIEW NOTE</span>
              </div>
              <!-- Judge Assigned -->
              <div *ngIf="i.type=='judgeAssigned'" style="margin-top: 2px!important; margin-bottom: 2px!important;"
                   class="my-1 p-1 bg-warning rounded rounded-lg" data-toggle="tooltip" data-placement="top"
                   title="{{i.description}}">
                <i class="fa fa-gavel text-primary font-weight-bold mr-1"></i> <span
                class="font-weight-bold">{{i.date}} {{i.title}}</span>
              </div>
              <!-- Hearing Set -->
              <div *ngIf="i.type=='hearingSet'" style="margin-top: 2px!important; margin-bottom: 2px!important;"
                   class="my-1 p-1 bg-warning rounded rounded-lg" data-toggle="tooltip" data-placement="top"
                   title="{{i.description}}">
                <i class="fa fa-calendar-check-o text-primary font-weight-bold mr-1"></i> <span
                class="font-weight-bold">{{i.date}} {{i.title}}</span>
              </div>
              <!-- Bail App Granted -->
              <div *ngIf="i.type=='granted'" style="margin-top: 2px!important; margin-bottom: 2px!important;"
                   class="my-1 p-1 bg-success text-white rounded rounded-lg" data-toggle="tooltip" data-placement="top"
                   title="{{i.description}}">
                <i class="fa fa-check text-white font-weight-bold mr-1"></i> <span
                class="font-weight-bold">{{i.date}} {{i.title}}</span> <a class="font-weight-bold" href="#">VIEW
                CONDITIONS</a>
              </div>
              <!-- Office Of Attorney General PDF -->
              <div *ngIf="i.type=='oagpdf'" style="margin-top: 2px!important; margin-bottom: 2px!important;"
                   class="my-1 p-1 bg-warning rounded rounded-lg" data-toggle="tooltip" data-placement="top"
                   title="{{i.description}}">
                <i class="fa fa-file-pdf-o text-danger font-weight-bold mr-1"></i>
                <span class="font-weight-bold mr-1">{{i.date}} {{i.title}}</span> <a class="font-weight-bold"
                                                                                     href="{{i.link}}" target="_blank">VIEW
                DOCUMENT</a>
              </div>
              <!-- DPP Affidavit in Response -->
              <div *ngIf="i.type=='dpp_affidavit'" style="margin-top: 2px!important; margin-bottom: 2px!important;"
                   class="p-1 bg-warning rounded rounded-lg" data-toggle="tooltip" data-placement="top"
                   title="{{i.description}}">
                <i class="fa fa-file-pdf-o text-danger font-weight-bold mr-1"></i>
                <span class="font-weight-bold mr-1">{{i.date}} {{i.title}}</span> <a class="font-weight-bold"
                                                                                     href="{{i.link}}" target="_blank">VIEW
                DOCUMENT</a>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<datalist id="crimeDataList">
  <option *ngFor="let i of crimeCodes">{{i.value}}</option>
</datalist>
<section id="crimeSection">
  <div class="container-fluid">
    <div class="row" style="background: var(--blue);">
      <div class="col d-xl-flex justify-content-xl-start align-items-xl-center"><span
        style="font-weight: bold;color: var(--light);">CRIMINAL CHARGES FOR THIS BOOKING</span></div>
      <div (click)="doAddCharges()" class="col-1 flex-row d-flex justify-content-center align-items-center" style="padding: 3px 0px;">
        <i class="fa fa-plus-square" style="font-size: 28px;color: var(--light); cursor: pointer"></i><span class="text-white font-weight-bold h6 ml-1 pt-1" style="cursor: pointer"> ADD CHARGE</span></div>
    </div>
    <div class="row">
      <div class="col" style="margin-top: 6px;">
        <span>The following are the charges against the Defendant in this case. </span></div>
    </div>
    <div class="row" style="background: #eeeded;border: 1px solid rgb(160,161,162);">
      <div class="col-3"><span style="font-weight: bold;">CHARGE DATE</span></div>
      <div class="col-2"
           style="border-right: 3px solid var(--light);border-left: 3px solid var(--white);text-align: center;"><span
        style="font-weight: bold;">COUNT</span></div>
      <div class="col-5"><span style="font-weight: bold;">CHARGE</span></div>
      <div class="col-2"
           style="border-right: 3px solid var(--light);border-left: 3px solid var(--white);text-align: center;"><span
        style="font-weight: bold;">CONTROLS</span></div>
    </div>
    <div *ngFor="let c of charges" class="row"
         style="background: #fcf8f8;border: 1px solid rgb(160,161,162);margin-top: 4px;">
      <div class="col-3"><span>{{convertUnixTime(c.countDate)}}</span></div>
      <div class="col-2"
           style="border-right: 3px solid var(--light);border-left: 3px solid var(--white);text-align: center;">
        <span>{{c.countNo}}</span></div>
      <div class="col-5"><span>{{c.countCharge}}</span></div>
      <div class="col-2" style="border-right: 3px solid var(--light);border-left: 3px solid var(--white);text-align: center;">
        <i class="fa fa-trash fa-2x" style="margin: 4px;color: var(--red);" (click)="deleteCharge(c)"></i>
      </div>
    </div>
  </div>
</section>
